---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/rememberly
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"7256d766c1b445f69e8ba3a69d53f6105556b942"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"100000185260051","name":"\u5289\u51a0\u986f","first_name":"\u51a0\u986f","last_name":"\u5289","link":"http:\/\/www.facebook.com\/rememberly","username":"rememberly","gender":"male","locale":"zh_TW"}'
  recorded_at: Tue, 15 May 2012 13:47:01 GMT
recorded_with: VCR 2.1.1
