---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/sdfjksdh
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Www-Authenticate:
      - ! 'OAuth "Facebook Platform" "not_found" "(#803) Some of the aliases you requested
        do not exist: sdfjksdh"'
    body:
      encoding: US-ASCII
      string: ! '{"error":{"message":"(#803) Some of the aliases you requested do
        not exist: sdfjksdh","type":"OAuthException","code":803}}'
  recorded_at: Mon, 14 May 2012 13:01:14 GMT
recorded_with: VCR 2.1.1
