---
http_interactions:
- request:
    method: get
    uri: http://api.twitter.com/1/users/show.json?screen_name=m
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Status:
      - 200 OK
      X-Mid:
      - ecd07d3b2ed60b5921ac59e5d9b6d4541b3d546d
      Last-Modified:
      - Wed, 28 Mar 2012 02:05:25 GMT
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '15'
      Etag:
      - ! '"db27ccf4cc1875bb09ce7f4cff338068"'
      X-Transaction-Mask:
      - a6183ffa5f8ca943ff1b53b5644ef114cd69b8ce
      X-Ratelimit-Class:
      - api
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Reset:
      - '1332901589'
      X-Transaction:
      - 67b925cbe0e3ebb9
    body:
      encoding: US-ASCII
      string: ! '{"id":7998822,"following":false,"statuses_count":3569,"contributors_enabled":false,"profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/3055488\/2364_body2.jpg","geo_enabled":true,"profile_link_color":"2D506C","time_zone":"Berlin","utc_offset":3600,"url":"http:\/\/friendfeed.com\/mdoug","default_profile":false,"show_all_inline_media":false,"created_at":"Mon
        Aug 06 18:15:01 +0000 2007","name":"Mark Douglass","profile_use_background_image":true,"id_str":"7998822","profile_text_color":"0A2817","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/3055488\/2364_body2.jpg","verified":false,"protected":false,"profile_sidebar_border_color":"6386A3","listed_count":188,"location":"Bad
        Kreuznach, Germany","profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1702184506\/m_normal.jpg","description":"Sorry
        if I don''t reply to @mentions - they are 99.9% incorrect and I''ve basically
        stopped checking them. \r\nPS: Not interested in selling @m or @md - sorry!","followers_count":14987,"friends_count":1480,"profile_background_tile":false,"screen_name":"m","lang":"en","is_translator":false,"profile_sidebar_fill_color":"E4F2F5","follow_request_sent":false,"notifications":false,"default_profile_image":false,"status":{"possibly_sensitive":false,"contributors":null,"place":{"name":"Bad
        Kreuznach","place_type":"city","url":"http:\/\/api.twitter.com\/1\/geo\/id\/080d3dfe4750f02b.json","country_code":"DE","attributes":{},"full_name":"Bad
        Kreuznach, Bad Kreuznach","bounding_box":{"type":"Polygon","coordinates":[[[7.811113,49.792879],[7.954602,49.792879],[7.954602,49.88217],[7.811113,49.88217]]]},"country":"Alemania","id":"080d3dfe4750f02b"},"in_reply_to_status_id_str":null,"retweet_count":19,"in_reply_to_user_id":null,"favorited":false,"geo":{"type":"Point","coordinates":[49.84259237,7.86044552]},"in_reply_to_user_id_str":null,"id_str":"169823696763109376","in_reply_to_status_id":null,"coordinates":{"type":"Point","coordinates":[7.86044552,49.84259237]},"in_reply_to_screen_name":null,"created_at":"Wed
        Feb 15 16:41:39 +0000 2012","retweeted":false,"truncated":false,"source":"\u003Ca
        href=\"http:\/\/foursquare.com\" rel=\"nofollow\"\u003Efoursquare\u003C\/a\u003E","id":169823696763109376,"text":"I
        just became the mayor of Bistro Zeitgeist on @foursquare! http:\/\/t.co\/AtyN5AT4"},"profile_background_color":"E4F2F5","favourites_count":5150,"profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1702184506\/m_normal.jpg"}'
  recorded_at: Wed, 28 Mar 2012 02:05:25 GMT
recorded_with: VCR 2.0.0
