---
http_interactions:
- request:
    method: get
    uri: http://api.twitter.com/1/users/show.json?screen_name=m
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Limit:
      - '150'
      X-Ratelimit-Remaining:
      - '149'
      X-Ratelimit-Reset:
      - '1336996636'
      X-Ratelimit-Class:
      - api
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Mon, 14 May 2012 10:57:16 GMT
      Status:
      - 200 OK
      X-Transaction:
      - 304abb070e56182d
    body:
      encoding: US-ASCII
      string: ! '{"id":7998822,"id_str":"7998822","name":"Mark Douglass","screen_name":"m","location":"Bad
        Kreuznach, Germany","description":"Sorry if I don''t reply to @mentions -
        they are 99.9% incorrect and I''ve basically stopped checking them. \r\nPS:
        Not interested in selling @m or @md - sorry!","url":"http:\/\/friendfeed.com\/mdoug","protected":false,"followers_count":17349,"friends_count":1481,"listed_count":195,"created_at":"Mon
        Aug 06 18:15:01 +0000 2007","favourites_count":5149,"utc_offset":3600,"time_zone":"Berlin","geo_enabled":true,"verified":false,"statuses_count":3577,"lang":"en","status":{"created_at":"Sat
        May 12 12:34:07 +0000 2012","id":201289149536419840,"id_str":"201289149536419840","text":"I
        was just awarded the \"TV Elite\" badge at http:\/\/t.co\/zAAbEZ39","source":"\u003ca
        href=\"http:\/\/gomiso.com\" rel=\"nofollow\"\u003eMiso\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false},"contributors_enabled":false,"is_translator":false,"profile_background_color":"E4F2F5","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/3055488\/2364_body2.jpg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/3055488\/2364_body2.jpg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/1702184506\/m_normal.jpg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/1702184506\/m_normal.jpg","profile_link_color":"2D506C","profile_sidebar_border_color":"6386A3","profile_sidebar_fill_color":"E4F2F5","profile_text_color":"0A2817","profile_use_background_image":true,"show_all_inline_media":false,"default_profile":false,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}'
  recorded_at: Mon, 14 May 2012 10:57:16 GMT
recorded_with: VCR 2.1.1
