---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/davidtuite
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=UTF-8
      Etag:
      - ! '"7aac069a894f488e0ab622bad887af759b1a6a4d"'
    body:
      encoding: US-ASCII
      string: ! '{"id":"37300597","name":"David Tuite","first_name":"David","last_name":"Tuite","link":"http:\/\/www.facebook.com\/david.tuite","username":"david.tuite","gender":"male","locale":"en_GB"}'
  recorded_at: Mon, 14 May 2012 13:01:22 GMT
recorded_with: VCR 2.1.1
